<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vbiso.dao.ExpensesDao">
    <resultMap id="expensesResult" type="expensesDo">
        <id column="expenses_id" property="expensesId" javaType="long"/>
        <result column="user_id" property="userId" javaType="long"/>
        <result column="category_id" property="categoryId" javaType="long"/>
        <result column="expenses_date" property="expensesDate" javaType="long"/>
        <result column="expenses_data" property="expensesData" javaType="double"/>
        <result column="expenses_desc" property="expensesDesc" javaType="String"/>
    </resultMap>

    <sql id="expensesColumn">
        expenses_id,
        user_id,
        expenses_date,
        expenses_data,
        expenses_desc,
        category_id
    </sql>

    <select id="getByUserId" parameterType="long" resultMap="expensesResult">
        SELECT
        <include refid="expensesColumn"/>
        FROM expenses
        WHERE
        user_id=#{userId}
    </select>

    <select id="selectPage" parameterType="com.vbiso.pojo.IncomeExpensesQueryPojo" resultMap="expensesResult">
        SELECT
        <include refid="expensesColumn"/>
        FROM expenses
        <where>
            user_id=#{userId}

            <if test="start!=0">
                AND expenses_date &gt;=#{start}
            </if>

            <if test="end!=0">
                AND expenses_date &lt;= #{end}
            </if>

            <if test="categoryId!=0">
                AND category_id=#{categoryId}
            </if>
        </where>
        limit
        #{page},#{limit}
    </select>

    <select id="getTotalCount" parameterType="com.vbiso.pojo.IncomeExpensesQueryPojo" resultType="long">
        SELECT count(1) FROM expenses
        <where>
            user_id=#{userId}
            <if test="start!=0">
                AND expenses_date &gt;=#{start}
            </if>

            <if test="end!=0">
                AND expenses_date &lt;= #{end}
            </if>

            <if test="categoryId!=0">
                AND category_id=#{categoryId}
            </if>
        </where>
    </select>

    <select id="getSumData" parameterType="long" resultType="double">
        SELECT sum(expenses_data) FROM expenses WHERE user_id=#{userId}
    </select>

    <insert id="insertExpenses" parameterType="expensesDo">
        INSERT INTO expenses
        (expenses_id, user_id,category_id, expenses_date, expenses_data, expenses_desc)
        VALUES
        (#{expensesId},#{userId},#{categoryId},#{expensesDate},#{expensesData},#{expensesDesc})
    </insert>

</mapper>