<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.vbiso.dao.IncomeDao">
  <resultMap id="IncomeResult" type="incomeDo">
    <id column="income_id" property="incomeId" javaType="long"/>
    <result column="user_id" property="userId" javaType="long"/>
    <result column="category_id" property="categoryId" javaType="long"/>
    <result column="income_date" property="incomeDate" javaType="long"/>
    <result column="income_data" property="incomeData" javaType="double"/>
    <result column="income_desc" property="incomeDesc" javaType="String"/>
  </resultMap>
  <sql id="incomeColumn">
        income_id,
        user_id,
        income_date,
        income_data,
        category_id,
        income_desc
    </sql>

  <select id="getByUserId" parameterType="long" resultMap="IncomeResult">
    SELECT
    <include refid="incomeColumn"/>
    FROM income
    WHERE
    user_id=#{userId}
  </select>

  <insert id="insertIncome" parameterType="incomeDo">
        insert into
        income
         (income_id, user_id, category_id,income_date, income_data,income_desc)
        values (#{incomeId},#{userId},#{categoryId},#{incomeDate},#{incomeData},#{incomeDesc});
    </insert>

  <update id="updateIncome" parameterType="java.util.List">
    UPDATE income
    SET
    <foreach collection="list" item="fieldDo" index="index">
      ${key}=#{fieldDo.value}
    </foreach>
    WHERE
    user_id=#{userId}
  </update>

  <select id="selectPage" resultMap="IncomeResult">
    SELECT
    <include refid="incomeColumn"/>
    FROM income
    <where>
      user_id=#{userId}

      <if test="start!=0">
        AND income_date &gt;=#{start}
      </if>

      <if test="end!=0">
        AND income_date &lt;= #{end}
      </if>

      <if test="categoryId!=0">
        AND category_id=#{categoryId}
      </if>
    </where>
    limit
    #{page},#{limit}
  </select>

  <select id="getTotalCount" parameterType="com.vbiso.pojo.IncomeExpensesQueryPojo" resultType="long">
        SELECT count(1) FROM income
        <where>
          user_id=#{userId}

          <if test="start!=0">
            AND income_date &gt;=#{start}
          </if>

          <if test="end!=0">
            AND income_date &lt;= #{end}
          </if>

          <if test="categoryId!=0">
            AND category_id=#{categoryId}
          </if>
        </where>
  </select>

  <select id="getSumIncome" parameterType="long" resultType="double">
    SELECT sum(income_data) FROM income
    WHERE
    user_id=#{userId}
  </select>


</mapper>